<!--<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>-->
<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div style="margin-top: 5px">
    <div style="font-weight: bold;color: #b68003;font-size: 21px;">Order Details</div>
    <div style="margin-top: 10px">
      <div style="width: 250px;display: flex">
        <input type="text" class="form-control" style="border-radius: 20px" placeholder="Search">
        <i class="fa fa-search" style="font-size: 20px;padding: 10px 10px 10px 15px"></i>
      </div>
      <div style="margin-top: 10px">
        <select class="form-control" style="width: 200px">
          <option value="">Filter</option>
          <option value="">Sub Total</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div class="col-12">

    <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
      <thead class="thead-dark">
      <th>Order No</th>
      <th>Supplier</th>
      <th>Status</th>
      </thead>
      <tbody>
      <tr *ngFor="let pump of orders;let i = index">
        <td>{{i+1}}</td>
        <td>{{pump.pumpedAtFormatted}}</td>
        <td>{{pump.fuelType.name}}</td>
        <td>{{pump.fuelPumped}}L {{pump.fullTanked?'/ Full':''}}</td>
        <td>{{pump.fuelStation.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="col-6">-->
  <!--<div style="display: flex;justify-content: right;margin-top: 20px">-->
  <!--<select [(ngModel)]="selectedOrderBy2" class="form-control" style="width: 200px;margin-right: 10px"-->
  <!--(change)="selectedOrderBy2=$event.target.value">-->
  <!--<option value="">Order By</option>-->
  <!--<option value="date">Date</option>-->
  <!--<option value="pump">Pumped</option>-->
  <!--<option value="trip">Trip</option>-->
  <!--<option value="consumption">Consumption</option>-->
  <!--</select>-->
  <!--<button class="btn btn-warning" (click)="reOrderConsumes()">Search</button>-->
  <!--</div>-->

  <!--</div>-->
</div>
